* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1.7;
}

/* --------------------------------html element--------------------------- */

ul li {
    list-style: none;
}

a {
    font-size: 1.6rem;
    text-decoration: none;
}

li, p {
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15;
}

h1, h2, h3 {
    font-size: 1.6rem;
    letter-spacing: 0.15;
    font-weight: 500;
}

/* ----------------------------------utility classess--------------------- */

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.lg-heading {
    font-size: 3.5rem;
}

.md-heading {
    font-size: 2.2rem;
}

.text-red {
    color: #e63946;
}

.text-black {
    color: #333333;
}

.text-white {
    color: #f4f4f4;
}

.text-grey {
    color: #555555;
}

.bg-dark {
    background-color: #263238;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    padding: 0.5em 1.5em;
    background-color: white;
    margin: 0.5em 0;
}

/* ---------------------------------------header styling------------------------------------------ */

.header {
    position: relative;
    height: 95vh;
    /* border: 2px solid red; */
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../img/Wallmax-10694.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    /* border: 2px solid green; */
    padding: 1rem;
}

.navbar .logo {
    float: left;
}

.navbar .nav-items {
    float: right;
    margin-top: 1rem;
}

.navbar .nav-item {
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
}

.navbar a {
    padding-bottom: 0.3rem;
}

.navbar a:link, .navbar a:visited {
    color: white;
}

.navbar a:hover {
    border-bottom: 0.1rem solid white;
}

.navbar a:active {
    color: #e63946;
    border-bottom: 0.1rem solid #e63946;
}

.navbar::after {
    content: '';
    display: block;
    clear: both;
}

/* -----------------------------------------------header content------------------------------ */

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
    text-align: center;
}

.header-content h1 {
    text-transform: uppercase;
    font-weight: 700;
}

.header-content p {
    text-transform: uppercase;
}

.btn-primary {
    border-radius: 10em;
}

/* -------------------------------------------features section------------------------------- */

.features {
    padding: 10rem 0;
}

.section-heading {
    font-size: 8rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.5em;
}

.box-wrapper {
    /* border: 2px solid red; */
    box-shadow: 5px 5px 10px rgba(102, 102, 102, 0.512);
}

.box {
    /* border: 2px solid green; */
    padding: 2em;
    text-align: center;
    width: 33.33333333333%;
    float: left;
}

.box-wrapper::after {
    content: '';
    display: block;
    clear: both;
}

.box1, .box3 {
    background-color: #263238;
    color: #ffffff;
}

.box2 {
    background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
    color: #ffffff;
}

/* -------------------------------------showchase section--------------------------- */

.showchase {
    background: #dddddd;
    padding: 10rem 0;
}

.row {
    height: 350px;
    /* border: 2px solid red; */
    margin-bottom: 10rem;
    background: #ffffff;
    box-shadow: 5px 5px 20px rgba(102, 102, 102, 0.512);
}

.row .img-box {
    /* border: 2px solid yellow; */
    height: 100%;
    background-color: #e63946;
}

.row .text-box {
    /* border: 2px solid green; */
    height: 100%;
    padding: 0 3rem;
}

.row1 .img-box, .row2 .text-box {
    width: 50%;
    float: left;
}

.row2 .img-box, .row1 .text-box {
    width: 50%;
    float: right;
}

.row::after {
    content: '';
    display: block;
    clear: both;
}

.row .img-box img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.row .text-box h2 {
    text-align: center;
}

.row .text-box h2::after {
    content: '';
    width: 100%;
    display: block;
    border: 3px solid #e63946;
}

/* .row {
    box-shadow: 5px 5px 20px rgba(102, 102, 102, 0.512);
} */

.spec {
    margin-top: 3rem;
    /* margin-left: 25%; */
}

.spec li::before {
    content: '\2713';
    color: #e63946;
    padding-right: 1rem;
    font-weight: bold;
}

.btn-secondary {
    border-radius: 10em;
    border: 1px solid red;
    /* margin-top: 10rem; */
    margin-left: 25px;
}

.showchase-container {
    max-width: 485px;
    width: 90%;
    margin: 0 auto;
}

/* --------------------------------footer styling------------------------- */

.footer {
    background-color: #263238;
    text-align: center;
    color: #ffffff;
    padding: 2rem;
}

.footer img {
    padding-right: 2rem;
}

.social-media-links h3 {
    display: inline;
    margin: 2rem;
}

/* ############################################## ABOUT PAGE ################################# */

.about-heading::after {
    content: '';
    width: 100%;
    display: block;
    border: 3px solid #e63946;
}

.about-para p {
    padding-top: 5rem;
}

/* #################################################   SAMPLE RESUME ############################# */

.order-container {
    margin: 10rem 0;
    /* height: 100px; */
    text-align: center;
    padding: 2rem;
    background-color: #e63946;
}

.order-container h1 {
    display: inline;
    margin-left: 5rem;
}

.col {
    box-sizing: border-box;
    height: 650px;
    width: 385px;
    /* border: 2px solid red; */
    /* margin-top: 10rem; */
    margin-bottom: 10rem;
    margin-left: 5rem;
    margin-right: 5rem;
    background: #cdcdcd;
    box-shadow: 5px 5px 20px rgba(102, 102, 102, 0.512);
}

.code {
    /* height: 10%; */
    text-align: center;
}

.col .view img {
    /* height: 80%; */
    display: inline-block;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

.price {
    /* height: 10%; */
    text-align: center;
}

.content-left, .content-right {
    float: left;
    width: 50%;
}

.content {
    padding: 10rem 0;
    /* border: 2px solid rebeccapurple; */
}

.content::after {
    content: '';
    display: block;
    clear: both;
}

/* ################################################ BLOG PAGE ######################################### */

.resume-fill {
    padding: 10rem 0;
}

.ques {
    background-color: #cdcdcd;
    text-transform: uppercase;
    font-weight: bolder;
    padding-left: 2rem;
}

.ans {
    margin-left: 10rem;
    padding: 5rem 0 10rem 0;
}

.ans li {
    list-style: disc;
}

/* ################################################## ORDER PAGE ################################################ */

.orderinfo-container {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
}

.order-row {
    height: 350px;
    /* border: 2px solid red; */
    margin-bottom: 10rem;
    background: #f4f4f4;
    box-shadow: 5px 5px 20px rgba(102, 102, 102, 0.512);
}

.order-row .img, .order-row .text {
    float: left;
    width: 50%;
}

.order-row .img {
    /* border: 2px solid green; */
    height: 100%;
}

.order-row .text {
    /* border: 2px solid rebeccapurple; */
    height: 100%;
    padding: 0 3rem;
}

.order-row .img img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.order-row .text h2 {
    text-align: center;
}

.order-row .text p {
    text-align: center;
    margin-top: 3rem;
}

.order-row .text h2::after {
    content: '';
    width: 100%;
    display: block;
    border: 3px solid #e63946;
}

.order-row::after {
    content: '';
    clear: both;
}